* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1509281373149-e957c6296406?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1328&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #250401;
  background-position: 50% 36%;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}

.backgroundFader {
  display: block;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 60%;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: inset 0 0 100px black;
  z-index: 0;
}

button {
  padding: 8px;
  border: none;
  border-radius: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #100100;
  width: 100vw;
  padding: 10px 16px;
  margin: 0;
  box-sizing: border-box;
  z-index: 2;
}

.dashboard {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-link {
  color: #fbca61;
}


/* Review Buttons Styling */
.voted {
  color: green;
}

.searchInputs {
  margin-top: 105px;
  display: flex;
}

.searchBar input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;

}

.dataResults {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResults::-webkit-scrollbar {
  display: none;
}

.dataResults .dataItem {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  color: black
}

.dataItem {
  width:100%;
  font-size: 1.2rem;
}

.dataItem:hover {
  background-color: lightgrey;
}


/*
  ___________________
  |  Searchbar CSS  |
  -------------------
*/

.searchInputs {
  margin-top: 0;
  display: flex;
}

.searchInputs input {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.dataResults {
  position: absolute;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResults::-webkit-scrollbar {
  display: none;
}

.dataResults .dataItem {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  color: black
}

.dataItem:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}



/* palette test */
.color-primary-0 { color: #250401 }	/* Main Primary color */
.color-primary-1 { color: #64231D }
.color-primary-2 { color: #410F0B }
.color-primary-3 { color: #100100 }
.color-primary-4 { color: #030000 }

.color-secondary-1-0 { color: #251201 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #643F1D }
.color-secondary-1-2 { color: #41250B }
.color-secondary-1-3 { color: #100800 }
.color-secondary-1-4 { color: #030100 }

.color-secondary-2-0 { color: #1E0110 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #521836 }
.color-secondary-2-2 { color: #35091F }
.color-secondary-2-3 { color: #0D0007 }
.color-secondary-2-4 { color: #020001 }
