@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  @apply p-2 border-none rounded-lg
}

.app {
  font-size: calc(10px + 2vmin);
  @apply
    flex
    flex-col
    items-center
    text-center
    w-full
    min-h-full
    text-white
    overflow-x-hidden
}

.backImg {background-position: 50% 36%;
  @apply block fixed w-full h-full bg-cover bg-no-repeat z-0
}

.fader {
  box-shadow: inset 0 0 100px black;
  @apply block fixed w-full h-full bg-black opacity-50 z-0 top-0 left-0
}

.dashboard {
  @apply flex flex-col text-[#F4F1BB] w-full items-center z-10
}

.titleListContainer {
  @apply
    flex
    h-1/4
    mb-8
    px-4
    w-full
    z-10
}

/*
  ____________________
  |  Navigation Bar  |
  --------------------
*/

.navbar {
  @apply
    flex
    flex-col
    justify-between
    items-center
    bg-[#64113F]
    w-full
    h-fit
    py-3
    px-4
    m-0
    z-20
    md:flex-row
    md:h-20
}

.navLogo {
  @apply
    flex
    text-[#F4F1BB]
    text-3xl
    italic
    m-0
    mx-5
    align-middle
}

.navLogoSvg {
  @apply h-12 w-auto m-0
}

.homeLink {
  @apply
  flex
  text-[#F4F1BB]
  text-2xl
  italic
  underline
  m-0
  mx-5
}

.logoutBtn {
  @apply
    bg-[#F4F1BB]
    text-[#64113F]
    text-xl
    h-11
    mr-5
    rounded-xl
    hover:bg-[#E15554]
    hover:text-[#F4F1BB]
}

/*
  ________________
  |  Search Bar  |
  ----------------
*/

.searchContainer {
  @apply
    flex
    flex-col
    justify-between
    w-2/4
    min-w-fit
}

.searchInput {
  @apply
    bg-[#F4F1BB]
    p-4
    h-8
    w-full
    border-none
    rounded-lg
    text-lg
    text-[#64113F]
    mr-12
}

.dataResults {
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  @apply
    absolute
    flex
    flex-col
    p-1
    mt-10
    h-52
    w-2/5
    bg-[#F4F1BB]
    border-none
    overflow-x-hidden
    overflow-y-auto
    rounded-lg
}

.dataResults::-webkit-scrollbar {
  display: none;
}

.dataItem {
  @apply
    flex
    flex-row
    items-center
    w-full
    h-14
    mb-1
    hover:bg-[#368F8B]
}

.dataImg {
  @apply
    max-h-full
    w-auto
}

.dataText {
  @apply
    flex
    flex-col
    w-full
    text-[#64113F]
    text-sm
    text-center
    hover:text-[#F4F1BB]
}

/*
  _________________
  |  Welcome CSS  |
  -----------------
*/

.welcomeFader {
  @apply
    absolute
    w-11/12
    h-3/5
    self-center
    justify-self-center
    bg-[#990033]
    opacity-50
    rounded-2xl
    z-0
    md:h-1/3
}

.welcomeBox {
  @apply
    flex
    flex-col
    justify-center
    content-center
    items-center
    p-4
    w-full
    h-screen
    text-xl
    text-[#FCECC9]
    z-10
}

.welcomeTitle {
  @apply
    text-6xl
    mt-0
    mb-5
    font-bold
    z-10
}

.welcomeText {
  @apply z-10 p-4 lg:p-0
}

.loginButtonHolder {
  @apply
   flex
   flex-row
   content-center
   justify-around
   mt-4
   z-10
}

.loginButton {
  @apply
    bg-[#FCECC9]
    text-[#1F1300]
    w-28
    m-5
    mt-4
    p-2
    text-xl
    rounded-xl
    hover:bg-[#FF6F59]
    hover:text-white
}

/*
  _________________
  |  Log in CSS  |
  -----------------
*/

.loginFormHolder {
  @apply
    flex
    flex-col
    py-0
    px-4
    mx-auto
    my-8
    w-4/5
    bg-white
    text-black
    rounded-xl
    z-10
    md:w-3/5
    lg:w-2/5
}

.loginTitle {
  @apply m-0 text-4xl font-bold
}

.loginExit {
  @apply flex justify-end
}

.exitBtn {
  @apply
    bg-white
    border-none
    m-0
    text-xl
    font-bold
    hover:text-orange-500
}

.googleLogin {
  @apply
    w-4/5
    mt-8
    bg-green-600
    text-white
    font-bold
    text-2xl
    hover:bg-orange-500
}

.facebookLogin {
  @apply
  w-4/5
  mt-8
  bg-blue-600
  text-white
  font-bold
  text-2xl
  hover:bg-orange-500
}

.loginSeparator {
  @apply text-xl font-bold mt-3
}

.manualLoginHolder {
  @apply flex flex-col items-center w-full
}

.manualEntryTitle {
  @apply mb-1 text-2xl text-left font-bold
}

.manualEntryInput {
  @apply
    w-11/12
    mb-2
    py-2
    px-3
    text-xl
    italic
    border-2
    border-solid
    border-black
    bg-neutral-200
}

.manualEntryHolder {
  @apply w-10/12 p-3
}

.submitBtn {
  @apply
    w-2/5
    mt-3
    mb-7
    bg-[#64113F]
    text-white
    font-bold
    text-xl
    hover:bg-orange-500
}

.loginErrorHolder {
  @apply
  w-4/5
  p-3
  bg-white
  z-10
  rounded-b-xl
  md:w-3/5
  lg:w-2/5
}

.loginErrorInfo {
  @apply mt-2 mb-1 text-xl text-black font-bold
}

/*
  __________________
  |  Vote Buttons  |
  ------------------
*/

.buttonsContainer {
  @apply flex flex-row p-1 mt-2 justify-between items-center text-xl
}

.votedUp, .votedDown, .voteBtn {
  @apply cursor-pointer m-1
}

.votedUp svg{
  @apply fill-[#68A357]
}

.votedDown svg{
  @apply fill-[#E15554]
}

.voteBtn svg{
  @apply fill-[#F4F1BB]
}

/*
  __________________
  |  Carousel CSS  |
  ------------------
*/

.carouselLeft {
  @apply flex self-center ml-5 z-10
}

.carouselRight {
  @apply flex self-center mr-5 z-10
}

/*
  _____________________
  |  Color Theme CSS  |
  ---------------------
*/

.toggle {
  @apply
  transition
  duration-500
  ease-in-out
  rounded-full
  p-2
  bg-[#F4F1BB]
  dark:bg-[#368F8B]
}

.themeBtn {
  @apply
    text-[#368F8B] dark:text-[#F4F1BB] text-2xl cursor-pointer
}

/*
  ______________________________
  |  Add Remove Title Buttons  |
  ------------------------------
*/

.removeTitleBtn {
  @apply
  w-24
  bg-[#64113F]
  text-[#F4F1BB]
  text-lg
  px-2
  mx-1
  rounded-lg
  hover:bg-[#368F88]
}

.addTitleBtn {
  @apply
  w-24
  bg-[#64113F]
  text-[#F4F1BB]
  text-lg
  px-2
  mx-1
  rounded-lg
  hover:bg-[#368F88]
}

/*
  ____________________
  |  Title Overview  |
  --------------------
*/

.titleOverviewContainer {
  @apply w-full flex flex-wrap z-10
}

.detailContainer {
  @apply flex flex-col flex-wrap h-fit w-full p-8 md:w-1/3 md:flex-nowrap
}

.detailFader {
  @apply absolute h-full w-full -mx-4 md:w-1/3 bg-[#990033] opacity-40 z-0 rounded-xl
}

.title {
  @apply m-2 text-3xl z-10
}

.titlePoster{
  @apply h-auto w-4/5 md:w-full z-10
}

.titleDetails {
  @apply z-10
}

.reviewButtonContainer {
  @apply flex flex-row p-1 mt-2 items-center text-xl z-10
}

.addRemoveButtons {
  @apply z-10
}

#streamOptions {
  width: 60%;
  margin: 1em;

}


#moviePoster img{
  width:100%
}

#synopsisContent{
  background: transparent;
  color: white;
  border:none;
  width: 80%;
  margin: 0 auto;
}

#streamOptionsContainer{
  width: 100%;
}
