@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height:100%;
  width:auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  @apply p-2 border-none rounded-lg
}

.app {
  font-size: calc(10px + 2vmin);
  @apply
    flex
    flex-col
    items-center
    text-center
    w-full
    min-h-full
    text-white
    overflow-x-hidden
}

.backImg {background-position: 50% 36%;
  @apply block fixed w-full h-full bg-cover bg-no-repeat z-0
    bg-[url('https://images.unsplash.com/photo-1509281373149-e957c6296406?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1328&q=80')]
    dark:bg-[url('https://images.unsplash.com/photo-1608737739007-f0019bc67f59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1576&q=80')]
}

.fader {
  box-shadow: inset 0 0 100px black;
  @apply block fixed w-full h-full bg-black opacity-50 z-0 top-0 left-0
}

/*
  ___________________
  |  Dashboard CSS  |
  -------------------
*/

.dashboard {
  @apply flex flex-col text-[#F4F1BB] mt-[5.5rem] w-full items-center z-10
}

/*
  __________________
  |  Carousel CSS  |
  ------------------
*/

.carouselLeft {
  @apply flex self-center ml-5 z-10
}

.carouselRight {
  @apply flex self-center mr-5 z-10
}

.titleListContainer {
  @apply
    flex
    max-h-[50vh]
    mb-6
    px-4
    w-full
    z-10
}

.carouselTitle {
  @apply
    text-2xl
    text-[#F4F1BB]
    font-bold
    uppercase
    mx-8
}

.titleRow {
 @apply
    flex
    overflow-x-hidden
    mt-4
    mx-3
    pt-4
    w-[96%]
}

.titleRow::-webkit-scrollbar {
  display: none;
}

.titlePosterContainer {
  @apply
    flex
    flex-col
    mx-2
    h-full
    w-fit
    max-w-[12rem]
}

.titlePosterContainer a {
  @apply
    flex
    self-center
    max-h-[80%]
    z-20
}

.titlePoster {
  transition: all 0.2s;
}

.titlePoster:hover {
  transform: scale(1.08);
  box-shadow: 0 3px 4px 2px rgba(255,255,255,0.4);
}

.buttonsContainer {
  @apply flex flex-row self-center w-full max-w-[14rem] mt-2 justify-between items-center text-xl
}

/*
  ____________________
  |  Navigation Bar  |
  --------------------
*/

.navbar {
  @apply
    fixed
    flex
    flex-col
    justify-between
    items-center
    bg-[#64113F]
    w-full
    h-fit
    py-3
    px-4
    m-0
    z-40
    md:flex-row
    md:h-20
    dark:bg-[#460C2C]
}

.navLogo {
  @apply
    flex
    text-[#F4F1BB]
    text-3xl
    italic
    m-0
    mx-5
    align-middle
    hover:text-[#E15554]
}

.navLogoSvg {
  @apply h-12 w-auto m-0
}

.navBtns {
  @apply flex flex-row justify-between items-center w-1/5
}

.homeLink {
  @apply
  flex
  text-[#F4F1BB]
  text-4xl
  hover:text-[#FFC15E]
  dark:text-[#68A357]
  dark:hover:text-[#E15554]
}

.logoutBtn {
  @apply
    bg-[#F4F1BB]
    text-[#64113F]
    text-xl
    h-11
    mr-5
    rounded-xl
    hover:bg-[#E15554]
    hover:text-[#F4F1BB]
    dark:bg-[#68A357]
    dark:text-[#F4F1BB]
    dark:hover:bg-[#E15554]
    dark:hover:text-[#F4F1BB]
}

/*
  ________________
  |  Search Bar  |
  ----------------
*/

.searchContainer {
  @apply
    flex
    flex-col
    justify-between
    w-2/4
    min-w-fit
}

.searchInput {
  @apply
    bg-[#F4F1BB]
    p-4
    h-8
    w-full
    border-none
    rounded-lg
    text-lg
    text-[#64113F]
    mr-12
}

.dataResults {
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  @apply
    absolute
    flex
    flex-col
    p-1
    mt-10
    h-52
    w-2/5
    bg-[#F4F1BB]
    border-none
    overflow-x-hidden
    overflow-y-auto
    rounded-lg
}

.dataResults::-webkit-scrollbar {
  display: none;
}

.dataItem {
  @apply
    flex
    flex-row
    items-center
    w-full
    h-14
    mb-1
    hover:bg-[#368F8B]
}

.dataImg {
  @apply
    max-h-full
    w-auto
}

.dataText {
  @apply
    flex
    flex-col
    w-full
    text-[#64113F]
    text-sm
    text-center
    hover:text-[#F4F1BB]
}

/*
  _________________
  |  Welcome CSS  |
  -----------------
*/

.welcomeFader {
  @apply
    absolute
    w-11/12
    h-3/5
    self-center
    justify-self-center
    bg-[#990033]
    opacity-50
    rounded-2xl
    z-0
    md:h-1/3
    dark:bg-[#460C2C]
}

.welcomeBox {
  @apply
    flex
    flex-col
    justify-center
    content-center
    items-center
    p-4
    w-full
    h-screen
    text-xl
    text-[#F4F1BB]
    z-10
}

.welcomeTitle {
  @apply
    text-6xl
    mt-0
    mb-5
    font-bold
    z-10
}

.welcomeText {
  @apply z-10 p-4 lg:p-0
}

.loginButtonHolder {
  @apply
   flex
   flex-row
   content-center
   justify-around
   mt-4
   z-10
}

.loginButton {
  @apply
    bg-[#FCECC9]
    text-[#64113F]
    w-28
    m-5
    mt-4
    p-2
    text-xl
    rounded-xl
    hover:bg-[#FF6F59]
    hover:text-[#F4F1BB]
}

/*
  _________________
  |  Log in CSS  |
  -----------------
*/

.loginFormHolder {
  @apply
    flex
    flex-col
    py-0
    px-4
    mx-auto
    my-10
    w-4/5
    bg-[#F4F1BB]
    text-[#64113F]
    rounded-xl
    z-10
    md:w-3/5
    lg:w-2/5
    dark:bg-[#460C2C]
    dark:text-[#F4F1BB]
}

.loginTitle {
  @apply m-0 text-4xl font-bold
}

.loginExit {
  @apply flex justify-end
  dark:bg-[#460C2C]
  dark:text-[#F4F1BB]
}

.exitBtn {
  @apply
    bg-[#F4F1BB]
    border-none
    m-0
    text-xl
    font-bold
    hover:text-orange-500
    dark:bg-[#460C2C]
    dark:text-[#F4F1BB]
    dark:hover:text-[#FF6F59]
}

.googleLogin {
  @apply
    w-4/5
    mt-8
    bg-[#68A357]
    text-[#F4F1BB]
    font-bold
    text-2xl
    hover:bg-[#FF6F59]
}

.facebookLogin {
  @apply
    w-4/5
    mt-8
    bg-[#368F8B]
    text-[#F4F1BB]
    font-bold
    text-2xl
    hover:bg-[#FF6F59]
}

.loginSeparator {
  @apply text-xl font-bold mt-3
}

.manualLoginHolder {
  @apply flex flex-col items-center w-full
}

.manualEntryTitle {
  @apply mb-1 text-2xl text-left font-bold
}

.manualEntryInput {
  @apply
    w-11/12
    mb-2
    py-2
    px-3
    text-xl
    italic
    border-2
    border-solid
    border-black
    bg-[#F4F1BB]
}

.manualEntryHolder {
  @apply w-10/12 p-3
}

.showPwBtn {
  @apply bg-sky-200 text-base p-2 dark:bg-[#368F8B] dark:hover:bg-[#64113F]
}

.submitBtn {
  @apply
    w-2/5
    mt-3
    mb-7
    bg-[#64113F]
    text-[#F4F1BB]
    font-bold
    text-xl
    hover:bg-[#FF6F59]
    dark:bg-[#68A357]
    dark:hover:bg-[#FFC15E]
    dark:hover:text-[#64113F]
}

.loginErrorHolder {
  @apply
  w-4/5
  p-3
  bg-[#F4F1BB]
  z-10
  rounded-b-xl
  md:w-3/5
  lg:w-2/5
}

.loginErrorInfo {
  @apply mt-2 mb-1 text-xl text-black font-bold
}

/*
  __________________
  |  Vote Buttons  |
  ------------------
*/

.votedUp, .votedDown, .voteBtn {
  @apply cursor-pointer m-1
}

.votedUp svg{
  @apply fill-[#68A357]
}

.votedDown svg{
  @apply fill-[#E15554]
}

.voteBtn svg{
  @apply fill-[#F4F1BB]
}


/*
  _____________________
  |  Color Theme CSS  |
  ---------------------
*/

.toggle {
  @apply
  transition
  duration-500
  ease-in-out
  rounded-full
  p-2
  bg-[#F4F1BB]
  hover:bg-[#163B3A]
  dark:bg-[#368F8B]
  dark:hover:bg-[#E15554]
}

.themeBtn {
  @apply
    text-[#368F8B] dark:text-[#F4F1BB] text-2xl cursor-pointer
}

/*
  ______________________________
  |  Add Remove Title Buttons  |
  ------------------------------
*/

.removeTitleBtn {
  @apply
  w-24
  bg-[#64113F]
  text-[#F4F1BB]
  text-lg
  px-2
  mx-1
  rounded-lg
  hover:bg-[#368F88]
  dark:bg-[#990033]
  dark:hover:bg-[#E15554]
}

.addTitleBtn {
  @apply
  w-24
  bg-[#64113F]
  text-[#F4F1BB]
  text-lg
  px-2
  mx-1
  rounded-lg
  hover:bg-[#368F88]
  dark:bg-[#990033]
  dark:hover:bg-[#68A357]
}

/*
  ____________________
  |  Title Overview  |
  --------------------
*/

.titleOverviewContainer {
  @apply w-full flex flex-wrap justify-between z-10 mt-[5.5rem]
}

.detailContainer {
  @apply flex flex-col flex-wrap ml-1 md:ml-2 lg:ml-4 xl:ml-4 h-fit w-full p-8 md:w-[30%] lg:w-[31.8%] xl:w-[30%] md:flex-nowrap text-[#F4F1BB]
}

.detailFader {
  @apply absolute h-[106%] md:h-[68vw] lg:h-[56vw] xl:h-[54vw] w-[94%] -mx-5 xl:-mx-6 -mb-12 md:w-[28%] lg:w-[29%] xl:w-[30%] bg-[#990033] opacity-50 z-0 rounded-xl
    dark:bg-[#FFC15E] dark:opacity-20
}

.title {
  @apply m-2 text-3xl z-10
}

.overviewPoster{
  @apply flex h-auto self-center justify-center w-4/5 md:w-full lg:max-w-[80%] z-10 shadow-lg
}

.titleDetails {
  @apply z-10 text-xl
}

.btnContainer {
  @apply flex flex-row p-1 my-2 w-4/5 md:w-full lg:w-2/3 justify-between content-center self-center items-center text-xl z-10
}

.addRemoveButtonsOverview button{
  @apply bg-[#368F8B] text-[#F4F1BB] hover:bg-[#68A357]
}

.overviewPoster {
  @apply w-full z-10
}

/*
  ____________________
  |  Stream Options  |
  --------------------
*/

.streamOptions {
  @apply flex flex-col items-center w-11/12 md:w-2/3 lg:w-2/3 xl:w-2/3 mt-4
}

.streamOptionsHeading {
  @apply text-3xl mt-1 mb-0 text-[#F4F1BB]
}

.streamOptionsContainer{
  @apply flex flex-col w-full
}

.sourceContainer{
  @apply flex flex-row flex-wrap justify-start text-center text-base leading-4
}

.tileContainer{
  @apply flex flex-col w-[95%] bg-[#F4F1BB] text-[#64113F] m-4 rounded-xl dark:bg-[#163B3A] dark:text-[#F4F1BB]
}

.typeName {
  @apply self-center border-b-2 border-solid border-[#64113F] w-11/12 mb-1 dark:border-[#368F8B]
}

.sourceBox{
  @apply m-2 text-sm inline-block
}

.sourceBoxImageContainer{
  @apply cursor-pointer my-0 mx-auto w-14 h-14 mb-2
}

.sourceBoxImage{
  @apply w-full h-full
}

/*
  _______________________
  |  Overview Synopsis  |
  -----------------------
*/

.synopsisContainer {
  @apply flex flex-col self-center w-[92%] p-2 mt-4 mr-3 bg-[#F4F1BB] text-[#64113F] rounded-xl dark:bg-[#163B3A] dark:text-[#F4F1BB]
}

.synopsisHeading {
  @apply self-center border-b-2 border-solid border-[#64113F] w-11/12 mb-1 dark:border-[#368F8B]
}

.overviewSynopsis {
  @apply text-lg p-4 text-justify
}

/*
  ___________________
  |  Source Review  |
  -------------------
*/

.formContainer{
  @apply fixed z-30 top-0 left-0 w-full h-full overflow-auto pt-40 bg-black bg-[rgba(0,0,0,0.5)]
}

.formBackground{
  @apply bg-[#F4F1BB] text-[#64113F] w-1/2 mx-auto my-0 rounded-xl shadow-xl dark:bg-[#163B3A] dark:text-[#F4F1BB]
}

.formHeader{
  @apply m-8 pt-4
}

.statement{
  @apply inline-block mx-8 text-xl
}

.reviewExit{
  @apply cursor-pointer float-right mt-4 mr-6 text-xl font-bold hover:text-[#E15554]
}

.formContent{
  @apply w-full text-xl
}

.reviewStars{
  @apply inline-block h-auto w-full
}

.confirmationMessage{
  @apply my-0 mx-auto pb-12 text-2xl
}

.reviewSubmitBtn{
  @apply w-2/5 my-8 bg-[#68A357] hover:bg-[#368F8B] text-[#F4F1BB] dark:bg-[#368F8B] dark:hover:bg-[#E15554]
}

/*
  ___________________
  |  Source Review  |
  -------------------
*/

.titleReviewsHolder {
  @apply flex flex-col w-11/12 items-start mt-8
}

.reviewsTitle {
  @apply mb-1 text-[#F4F1BB]
}

.reviewSection {
  @apply w-[96%] text-left text-3xl
}

.reviewList {
  @apply justify-center overflow-x-hidden overflow-y-scroll pt-2 h-80 w-full bg-[rgba(54,143,139,0.5)] rounded-xl dark:bg-[rgba(70,12,44,0.7)]
}

.reviewTile {
  @apply flex flex-col p-2 rounded-lg w-11/12 text-left m-auto mt-5 text-lg bg-[#68A357] dark:bg-[#E15554]
}

.reviewUserDate {
  @apply flex items-center justify-between text-base
}

.reviewBody {
  @apply text-xl
}

.reviewText {
  @apply w-11/12 mt-5 h-44 bg-[#F4F1BB] text-[#64113F] text-lg dark:bg-[#64113F] dark:text-[#F4F1BB]
}

.characterWarning {
  @apply text-base
}

.noReviews {
  @apply text-[#F4F1BB] text-xl pl-4
}

.addReviewContainer {
  @apply w-full items-center mb-4
}

.addReviewForm {
  @apply flex flex-col justify-items-center w-11/12 mx-auto
}

.addReviewBtn, .cancelReviewBtn {
  @apply text-base w-5/12 bg-[#F4F1BB] text-[#64113F] mt-2 mb-4 hover:bg-[#64113F] hover:text-[#F4F1BB] dark:bg-[#990033] dark:hover:bg-[#68A357] dark:text-[#F4F1BB]
}

.cancelReviewBtn {
  @apply dark:hover:bg-[#E15554] dark:text-[#F4F1BB]
}

.reviewFormBtns {
  @apply flex flex-row w-7/12 justify-between
}
