body {
  background-color: burlywood;
}

.WelcomeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  width: 100%;
  min-height: 100vh;
  font-size: 30px;
  color: white;
  z-index: 1;
}

.welcomeTitle {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}

.welcomeText {
  margin: 0px;
}

.loginButton {
  margin-top: 15px;
  margin-right: 30px;
  padding: 5px;
  font-size: 20px;
  width: 100px;
  border: none;
  border-radius: 10px;
}
.loginButton:hover {
  background-color: #521836;
  color: white;
  border: none;
}

.loginButtonHolder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

