#formContainer{
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  padding-top: 10em;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#formBackground{
  color: black;
  background-color: white;
  width: 50%;
  margin: 0 auto;
}
#formHeader{
  margin: 2em;
  padding-top: 1em;
}
#statement{
  margin-left: 2em;
  margin-right: 2em;
  display: inline-block;
  font-size: 1.2em;
}
#exit{
  float: right;
  margin-top: 2em;
  margin-right: 2em;
  size: 4em;
}
#formContent{
  width: 100%;
  font-size: 1.2em;
}
.stars{
  width: 100%;
  height: auto;
  display: inline-block;

}
#confirmationMessage{
  margin: 0 auto;
  padding-bottom: 2em;
  font-size: 1.2em;
}
#reviewSubmission{
  width:50%;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #e7e7e7;
  color: black;
}
