.sourceBox{
  margin: .5em;
  font-size: .5em;
  display: inline-block;
}
.sourceBoxImageContainer{
  cursor: pointer;
  margin: 0 auto;
  width: 3em;
  height: 3em;
  margin-bottom: 1em;
}
.sourceBoxImage{
  width:100%;
  height: 100%;

}